
<!-- Footer -->
  <footer class="row">

    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>Copyright &copy;{{ helper:date format="Y" }} {{ settings:site_name }}</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            {{ navigation:links group="header" }}
          </ul>
        </div>
      </div>
    </div>

  </footer>
<!-- /Footer -->


  	<!-- JavaScript at the bottom for fast page loading -->
  	{{ theme:partial name="scripts" }}

</body>
</html>