
<!-- Footer -->
  <footer class="row">
    <div class="large-12 columns">
      <hr />

      <div class="row">
        <div class="large-6 columns">
        <!-- Copyright -->
          <p>Copyright &copy;{{ helper:date format="Y" }} {{ settings:site_name }}</p>
        <!-- /Copyright -->
        </div>
        
        <div class="large-6 columns">
        <!-- Footer SiteNav -->
          <ul class="inline-list right">
            {{ navigation:links group="header" }}
          </ul>
        <!-- /Footer SiteNav -->
        </div>
      </div>
    </div>

  </footer>
<!-- /Footer -->


  	<!-- JavaScript at the bottom for fast page loading -->
  	{{ theme:partial name="scripts" }}

</body>
</html>