<body>	
	
		<!-- Header -->
		<header>	

			<div class="row">
				<div id="logo" class="large-6 columns">
					<a href="{{ url:base }}">
						<img src="{{ url:site }}files/large/fb393cb95591b57d950d783d551e140a.png">
					</a>
				</div>
			
				<div class="large-6 columns">
					<h4 class="text-right">{{ settings:site_name }}</h4>
				</div>
			</div>
			
		<!-- Navigation -->
			<div class="row">
				<div class="large-12 columns">

			<!-- <div class="contain-to-grid"> -->

					<!-- Top-Bar -->
					<div class="nav-wrap">
					<nav class="top-bar" data-topbar="">
					  <ul class="title-area">

					  	<!-- Title Area -->
					    <li class="name">
					     <h1>{{ settings:site_slogan }}</h1>
					    </li>

							<!-- Mobile Menu -->
					    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
					  </ul>

						<!-- Nav Link Section -->
					  <section class="top-bar-section">
					    <ul class="right">
					      {{ navigation:links group="header" }}
					    </ul>
					  </section>
					</nav>
					</div>

				</div>
			</div>
		<!-- /Navigation -->

		</header>
		<!-- /Header -->