<!-- HTML Head -->
{{ theme:partial name="head" }}
<!-- /HTML Head -->

<!-- Page Header -->
{{ theme:partial name="header" }}
<!-- /Page Header -->

<!-- Banner (Image) -->
<div class="row">
  <div class="large-12 columns">
	{{ theme:partial name="pagebanner" }}
  </div>
</div>
<!-- /Banner (Image) -->

<!-- Page Content -->
<section id="content" class="row">
	<div class="large-12 columns">
	{{ template:body }}
	</div>
</section>
<!-- /Page Content -->

<!-- Footer -->
{{ theme:partial name="footer" }}
