<div class="row">
  
    <div class="large-12 columns">
      {{ band_banner_image:img }}
      <hr />
    </div>

</div>

<div class="row">
  <div class="large-4 columns">
    {{ band1_image:img }}
  </div>
  
  <div class="large-8 columns">
    <h4>{{ band1_heading }}</h4>
    
    <div class="row">
    
      <div id="data" class="large-6 columns">
      <!-- data Start -->
        {{ band1_col1 }}
      <!-- data End -->
      </div>
    
      <div id="Column2" class="large-6 columns">
        {{ band1_col2 }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <hr>
    <h4>{{ band2_heading }}</h4>
    {{ band2_col1 }}
  </div>
  <div class="large-4 columns">
  <hr />
    {{ band2_image:img }}
  </div>
</div>


  $(document).ready(function () {
      var size = $("#data > ").size();
      $("#data > ").each(function (index) {
          if (index >= size / 4) {
              $(this).appendTo("#Column2");
          }
      });
  });