<div class="row">
  
    <div class="large-12 columns">
      {{ band_banner_image:img }}
      <hr />
    </div>

</div>

<div class="row">
  <div class="large-4 columns">
    {{ band1_image:img }}
    {{ band1_side }}
  </div>
  
  <div class="large-8 columns">
    {{ band1_heading }}
    
    <div class="row">
    
      <div class="large-6 columns">
        {{ band1_col1 }}
      </div>
    
      <div class="large-6 columns">
        {{ band1_col2 }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <hr />
    {{ band2_col1 }}
  </div>
  <div class="large-4 columns">
  <hr>
    {{ band2_image:img }}
  </div>
</div>