Banner (Image) -->
<div class="row">
    <div class="large-12 columns">
    <!-- Comment Out or Delete to Remove Placeholder Image -->
      <p><img src="http://placehold.it/1200x300&amp;text=[banner img]"></p>
    <!--  -->
      <p>{{ band_banner_image:img }}</p>
      <hr />
    </div>
</div>
<!-- /Banner (Image) -->

<!-- First Band -->
<div class="row">

  <!-- First Band Side -->
  <div class="large-4 columns">
    
  <!-- Comment Out or Delete to Remove Placeholder Image -->
    <p><img src="http://placehold.it/325x200&amp;text=[img]"></p>
  <!--  -->
    <p>{{ band1_image:img }}</p>
    <div class="panel">{{ band1_side }}</div>
  </div>
  
  <div class="large-8 columns">
  <!-- First Band Heading -->
    {{ band1_heading }}
    
    <div class="row">
    <!-- First Band Column 1 -->
      <div class="large-6 columns">
        {{ band1_col1 }}
      </div>
      
    <!-- First Band Column 2 -->
      <div class="large-6 columns">
        {{ band1_col2 }}
      </div>
    </div>
  </div>
</div>
<!-- /First Band -->

<!-- Second Band -->
<div class="row">

  <!-- Second Band Column 1 -->
  <div class="large-8 columns">
    <hr />
    <div class="panel">{{ band2_col1 }}</div>
  </div>

  <!-- Second Band Side -->
  <div class="large-4 columns">
  <hr>
  <!-- Comment Out or Delete to Remove Placeholder Image -->
    <p><img src="http://placehold.it/325x200&amp;text=[img]"></p>
  <!--  -->
    <p>{{ band2_image:img }}</p>
  </div>
</div>
<!-- /Second Band