<!-- Banner (Image) -->
<div class="row">
    <div class="large-12 columns">
      <hr />
    <!-- Comment Out or Delete to Remove Placeholder Image -->
      <p><img src="http://placehold.it/1200x300&amp;text=[banner img]"></p>
    <!--  -->
      <p>{{ banner_image:img }}</p>
      
    </div>
</div>
<!-- /Banner (Image) -->

<!-- Section 1 -->
<div class="row">

  <div class="large-12 columns">
    <!-- Section 1 Heading -->
    <span class="text-center">{{ section1_heading }}</span>

    <div class="row">
    <!-- Section 1 Main Content -->
      <div class="large-8 columns">
        <hr />
        {{ section1_content }}
      </div>
    
    <!-- Section 1 Column-->
      <div class="large-4 columns">
      <hr />
      <!-- Comment Out or Delete to Remove Placeholder Image -->
        <p><img src="http://placehold.it/325x200&amp;text=[img]"></p>
      <!--  -->
        <p>{{ section1_image:img }}</p>
        <div class="panel">{{ section1_col }}</div>
      </div>
    </div>
  </div>
</div>
<!-- /Section 1 -->

<!-- Section 2 -->
<div class="row">
  
  <!-- Section 2 Column -->
  <div class="large-4 columns">
  <hr />
  <!-- Comment Out or Delete to Remove Placeholder Image -->
    <p><img src="http://placehold.it/325x200&amp;text=[img]"></p>
  <!--  -->
    <p>{{ section2_image:img }}</p>
    <div class="panel">{{ section2_col }}</div>
  </div>

  <!-- Section 2 Content -->
  <div class="large-8 columns">
    <hr />
    {{ section2_content2 }}
  </div>

</div>
<!-- /Section 2 -->