<div class="row">
  
    <div class="large-12 columns">
      {{ banner_image:img }}
      <hr>
    </div>

</div>

<div class="row">
  <div class="large-4 columns">
    {{ content_image_1:img }}
  </div>
  
  <div class="large-8 columns">
    <h4>{{ band1_heading }}</h4>
    
    <div class="row">
    
      <div class="large-6 columns">
        {{ band1_c1 }}
      </div>
    
      <div class="large-6 columns">
        {{ band1_c2 }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <hr>
    <h4>{{ band2_heading }}</h4>
    {{ band2_c1 }}
  </div>
  <div class="large-4 columns">
  <hr>
    {{ content_image_2:img }}
  </div>
</div>