<div class="row">
  
    <div class="large-12 columns">
      {{ banner_image:img }}
      <hr>
    </div>

</div>

<div class="row">
  <div class="large-4 columns">
    {{ section1_image:img }}
  </div>
  
  <div class="large-8 columns">
    <h4>{{ section1_heading }}</h4>
    
    <div class="row">
    
      <div class="large-6 columns">
        {{ section1_col1 }}
      </div>
    
      <div class="large-6 columns">
        {{ section1_col2 }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <hr>
    <h4>{{ section2_heading }}</h4>
    {{ section2_col1 }}
  </div>
  <div class="large-4 columns">
  <hr>
    {{ section2_image:img }}
  </div>
</div>