<div class="row">
  
    <div class="large-12 columns">
      {{ banner_image:img }}
      <hr>
    </div>

</div>

<div class="row">

  <div class="large-12 columns">
    {{ section1_heading }}
    <hr>
    <div class="row">
    
      <div class="large-8 columns">
        {{ section1_content }}
      </div>
    
      <div class="large-4 columns">
        {{ section1_image:img }}
        {{ section1_col }}
      </div>
    </div>
  </div>


</div>

<div class="row">

  <div class="large-8 columns">
    <hr>
    {{ section2_content2 }}
  </div>
  
  <div class="large-4 columns">
  <hr>
    {{ section2_image:img }}
  </div>

</div>